




.detailToggle {
  cursor: pointer;
}

.dropdownTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingThreePropertyDetail {
  font-size: 18px;
  font-weight: bold;
}

.dropdownIconWrap {
  display: flex;
  align-items: center;
}

.dropdownText {
  display: flex;
  align-items: center;
}

.showText, .hideText {
  opacity: 1;
}

.showText.hidden, .hideText {
  opacity: 0;
}

.dropdownIcon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(-180deg);
}

.detailTab {
  display: block;
}

.space24 {
  height: 24px;
}

.detailLabelRow {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* gap: 10px; */
}

.distancesCell, .tableTextCell, .tableFlex {
  /* display: flex; */
  /* align-items: center; */
}

.iconRegular {
  width: 24px;
  height: 24px;
}

.textSemibold {
  font-weight: 600;
}

.wrapMeters, .wrapMinutesWalk {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
}

.tableCell {
  /* display: flex; */
  /* align-items: center; */
}

.alignRight {
  text-align: right;
}
